@using ShoppingCart.DataAccess.Model;
@model List<SidebarItem>
@{
    var sidebarItem = Model.Where(x => x.IsActive).OrderBy(x => x.DisplayPriority);

}
<div class="sidebar-section width-20">
<nav>
    <ul>
        <li>
            <i id="sidebar" class="fa-solid fa-angle-left"></i>
        </li>
        <li>
            <a class="logo">
                <img  src="~/img/logo.jpg"/>
            </a>
        </li>
        @foreach(var item in sidebarItem)
        {
            <li>
                <a asp-controller="@item.Controller" asp-action = "@item.Action" class="btn-nav-item">
                <i class = "@item.Class"></i>
                <span class="nav-item">@item.Name</span>
                </a>
            </li>
        }
    </ul>
</nav>
</div>
