@using ShoppingCart.Business.Utilities
@{
    var userLogged = SessionUtilities.CurrentUser(ViewContext.HttpContext.Session);
}
<form id="addMediaFileProduct" enctype="multipart/form-data" asp-controller="Product" asp-action="AddListThumbnail">
    @Html.Hidden("UserID", userLogged.UserId)
    <div class="form-group mt-2">
      <input class="form-control" type="file" name="files" accept=".jpg,.png" id="formFile">
    </div>
    <div class="form-group mt-2">
        <input type="button" onclick="ProductJS.SubmitAddFileProduct(); return false;" class="btn btn-primary btn-sm mt-2" value="Submit">
        <input type="button" class="btn btn-secondary btn-sm mt-2" value="Cancel">
    </div>
</form>
