@model ShoppingCart.DataAccess.ViewModels.CategoryVM

<form asp-action="CreateOrUpdate" method="post">
    <input type="hidden" asp-for="Category.Id"/>
    <div class="border p-3 mt-4">
            <div class="form-group">
                <h2 class="text-primary">Create</h2>
            </div>
        <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Category.Name" class="col-form-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Description" class="col-form-label"></label>
                <input asp-for="Category.Description" class="form-control" />
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.DisplayOrder" class="col-form-label"></label>
                <input asp-for="Category.DisplayOrder" class="form-control" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="pt-2">
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>

    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
