@using ShoppingCart.DataAccess.Model
@using ShoppingCart.DataAccess.ViewModels
@using ShoppingCart.Business.Repositories
@model ShoppingCart.DataAccess.Model.Product
@inject IUnitOfWork _unitOfWork;
@{
    ViewData["Title"] = "Home Page";
    var listThumbnail = _unitOfWork.UploadFileRepository.GetThumbnailsFromUploadFile(Model.MediaIds);
}
<div class="row">
    <div class="col-lg-6">
        <div class="p-slider">
            @foreach (var item in listThumbnail)
            {
                
                <div class="p-slider-item" data-dot-img="@item.Thumbnail">
                    <a>
                        <img src="@item.Thumbnail" alt="" />
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    // my slick slider options
    const options = {
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        arrows: false,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 3000
    };

    // my slick slider as constant object
    const mySlider = $('.p-slider').on('init', function (slick) {

        // constant var
        const slider = this;

        // slight delay so init completes render
        setTimeout(function () {

            // dot buttons
            let dots = $('.slick-dots > LI > BUTTON', slider);

            // each dot button function
            $.each(dots, function (i, e) {

                // slide id
                let slide_id = $(this).attr('aria-controls');

                // custom dot image
                let dot_img = $('#' + slide_id + ' .p-slider-item').data('dot-img');
                // assign dot image for slick dot default
                $(this).html('<img src="' + dot_img + '" alt="" />');

            });

        }, 100);


    }).slick(options);
    })
</script>