@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutFE";
}
<section class="mt-8">
    <div class="container">
        <div class="banner-slider">
            <div class="banner-slider-item">
                <img src="~/img/slide-1.jpg"/>
            </div>
            <div class="banner-slider-item">
                <img src="~/img/slider-2.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="mb-lg-10 mt-lg-14 my-8">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6">
                <h3 class="mb-0">Featured Categories</h3>
            </div>
        </div>
        <div class="category-slider">
            <div class="category-slider-item">
                <img src="~/img/category-atta-rice-dal.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-baby-care.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-bakery-biscuits.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-chicken-meat-fish.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-cleaning-essentials.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-dairy-bread-eggs.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-instant-food.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-pet-care.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-snack-munchies.jpg" />
            </div>
            <div class="category-slider-item">
                <img src="~/img/category-tea-coffee-drinks.jpg" />
            </div>
        </div>
    </div>
</section>


