@{
    var Media = ViewBag.Media;
    string host = ViewBag.Host;
    Media.Thumbnail = host + Media.Thumbnail;
}
<div  class="list-media-item m-1">
        <img src="@Media.Thumbnail"/>
        <a onclick="ProductJS.DeleteMedia(@Media.MediaID, '@Media.FileName'); return false;"><i class="fa-solid fa-xmark"></i></a>
</div>
