@using ShoppingCart.DataAccess.Model
@model Registration
@{
    int UserID = ViewBag.UserID;
}
<form id="changepassword">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="UserID" type="hidden" value="@UserID"/>
    <div class="form-outline mb-4 ">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" type="password" placeholder = "Password"  />
        <span asp-validation-for="Password"></span>
    </div>
        <div class="form-outline mb-4 ">
        <label asp-for="Newpassword" class="form-label">Newpassword</label>
        <input asp-for="Newpassword" class="form-control" type="password" placeholder = "Newpassword"  />
        <span asp-validation-for="Newpassword"></span>
    </div>
        <div class="form-outline mb-4 ">
        <label asp-for="Confirmpassword" class="form-label">Confirmpassword</label>
        <input asp-for="Confirmpassword" class="form-control" type="password" placeholder = "Confirmpassword"  />
        <span asp-validation-for="Confirmpassword"></span>
    </div>
    <a type="button" href="#" id="btn-changepassword" onclick="Changepassword()" data-ajax-url="@Url.Action("Changepassword","Home")" class="btn btn-primary btn-block mb-4">Save</a>
</form>